<nav class="top-bar" data-topbar>
    <ul class="title-area">
        <li class="name">
            <h1><a href="#/">TryRuby - RailsGirls Edition</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li>
                {{#link-to 'index'}}Home{{/link-to}}
            </li>
            <li>
                {{#link-to 'about'}}About{{/link-to}}
            </li>
            <li>
                {{#link-to 'lessons.index'}}Lessons{{/link-to}}
            </li>
        </ul>
    </section>
</nav>