<div class="row">
    <div class="large-10">
        <h1>What's this Ruby all about?</h1>

        <div class="row">
            <div class="large-6 columns">
                <div class="panel">
                    <p><a href="https://www.ruby-lang.org">Ruby</a> is an object oriented programming language created
                        by Yukihiro Mastumoto, or <em>"Matz"</em> as he's known in the community</p>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="panel callout">
                    <p>Ruby is designed for developer happiness and is a wonderful first language to learn. It has an
                        almost English like structure to it, that we find very pleasant to develop in</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <div class="panel">
                    <p>We have a saying in the community "MINASWAN"</p>
                    <pre>
Matz
Is
Nice
And
So
We
Are
Nice
                    </pre>
                </div>
            </div>
            <div class="large-6 columns">

            </div>
        </div>
    </div>
</div>

