{{partial "navigation/topbar"}}
<div class="full_width">
    <div class="row full_width">
        <div class="small-1 large-1 columns">{{partial "navigation/sidebar"}}</div>
        <div class="small-11 large-11 columns">
            {{outlet}}
        </div>
    </div>
</div>