<h1>Let's Learn Ruby!</h1>
<div class="row">
    <div class="large-4 columns">
        <div class="panel">
            <h2>Lesson {{lesson_number}}</h2>
            <h3>{{title}}</h3>
            <p>{{body}}</p>
        </div>
    </div>
    <div class="large-8 columns">
        {{code-area initialCode=initialCode endResult=endResult}}
    </div>
</div>