<h1>Let's Learn Ruby!</h1>
<div class="row">
    <div class="large-4 columns">
        <div class="panel">
            <h2>Lesson {{lesson_number}}</h2>
            <h3 id="lesson_title">{{lesson_title}}</h3>
            <p>{{lesson_body}}</p>
            {{#link-to 'lessons.edit' this class='button tiny'}}Edit lesson{{/link-to}}
        </div>
    </div>
    <div class="large-8 columns">
        {{code-area initialCode=lesson_code endResult=endResult}}
    </div>
</div>